/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
 animation-duration: 0.01ms !important;
 animation-iteration-count: 1 !important;
 transition-duration: 0.01ms !important;
 scroll-behavior: auto !important;
  }
}

body {
  margin: 0;
  color: #272727;
  font-family: "Nunito";
  font-size: 18px;
}

div, input {
  box-sizing: border-box;
}

input {
  font-family: "Nunito";
  font-size: 18px;
}

a {
  text-decoration: none;
}



.content {
  width: 1420px;
  margin: 0 auto;
  /* background: rgba(0, 0, 0, 0.1); */
}

.window {
  width: 1220px;
  box-sizing: content-box;
  padding: 30px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
}

.window__title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 600px;
  font-size: 20px;
  /* background: linear-gradient(90deg, #fff, #dfdfdf) */
}

.window__title p {
  font-size: 18px;
}


.window-title {
  margin: 0 auto;
  text-align: center;
  margin-bottom: 30px;
  font-size: 24px;
}

.menu {
  padding: 10px 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.logo {
    color: #272727;
}
.menu-right  {
  font-size: 16px;
}

.menu-right btn-dark {
  color: #fff;
}
.menu-right a {
  margin-left: 40px;
  transition: 200ms;
  font-weight: bold;
}


.menu-right a:hover {
  color: #a7a7a7;
}

.logo {
  box-sizing: content-box;
  width: auto;
  height: auto;
  padding: 10px 25px;
  border: 1px #272727 solid;
  font-family: 'Rubik Mono One';
  font-size: 22px;
  border-radius: 10px;
}

.logo-city {
  color: #CD75F6;
  font-size: 9px;
}


.window__sections {
  width: 1420px;
}

.section {
  width: 350px;
  height: 250px;
  /* background: rgba(0, 0, 0, 0.2); */
  display: flex;
  flex-wrap: 3;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  cursor: pointer;
  transition: 250ms;
}

.section:hover {
  transform: scale(1.15);
}

.section-image {
  background: #CD75F6;
  border-radius: 20px;
  width: 300px;
  height: 150px;
}
.section-title {
  width: 300px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
