/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
 animation-duration: 0.01ms !important;
 animation-iteration-count: 1 !important;
 transition-duration: 0.01ms !important;
 scroll-behavior: auto !important;
  }
}

body {
  margin: 0;
  color: #272727;
  font-family: "Nunito";
  font-size: 18px;
}

div, input {
  box-sizing: border-box;
}

input {
  font-family: "Nunito";
  font-size: 18px;
}

a {
  text-decoration: none;
}



.content {
  width: 1420px;
  margin: 0 auto;
  /* background: rgba(0, 0, 0, 0.1); */
}

.window {
    width: 1220px;
    box-sizing: content-box;
    padding: 30px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
}

.window__title {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 600px;
    font-size: 20px;
  /* background: linear-gradient(90deg, #fff, #dfdfdf) */
}

.window__title p {
    font-size: 18px;
}

.window__title__background {
    width: 100%;
    height: 100%;
    background: url("/storage/!/thumbs/banners/banner.svg") center;
    position: absolute;
    background-size: 1640px;
    opacity: 0.7;
    z-index: -1;
}


.window__title_onsearch {
    height:200px;
    margin: 50px  0;
}



[class*=col-] {position: relative}
.row-conformity .to-bottom {position:absolute; bottom:0; left:0; right:0}
.row-centered {text-align:center}
.row-centered [class*=col-] {display:inline-block; float:none; text-align:left; margin-right:-4px; vertical-align:top}


.window-title {
    margin: 0 auto;
    text-align: center;
    margin-bottom: 30px;
    font-size: 24px;
}

.menu {
  padding: 10px 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.menu-left {
    display: flex;
    align-items: center;
}

.logo {
    color: #272727;
    margin-right: 20px;
}
.logo a {
    text-decoration: none;
}
.menu-right  {
  font-size: 16px;
}

.menu-right btn-dark {
  color: #fff;
}
.menu-right a {
    margin-left: 40px;
    transition: 200ms;
    font-weight: bold;
}


.menu-right a:hover {
    color: #a7a7a7;
}

.logo {
    box-sizing: content-box;
    width: auto;
    height: auto;
    padding: 10px 25px;
    border: 1px #272727 solid;
    font-family: 'Rubik Mono One';
    font-size: 22px;
    border-radius: 10px;
}

.logo-city {
    color: #CD75F6;
    font-size: 9px;
}

.form-search {
    display: flex;
    /*justify-content: center;*/
    align-items: center;
    margin-right: -40px;
}

.fa-search {
    margin-left: -40px;
    cursor: pointer;
}

.search-input {
    border: 1px solid #272727;
    width: 250px;
    padding-right: 40px;
}

.section {
    width: 250px;
    height: 250px;
    /* background: rgba(0, 0, 0, 0.2); */
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    cursor: pointer;
    transition: 250ms;
}

.section:hover {
    transform: scale(1.15);
}

.section-image {
    background-position: center;
    background-repeat: no-repeat;
    width: 220px;
    height: 150px;
}
.section-title {
    width: 220px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    /*width: 250px;*/
    margin-bottom: 50px;
}

.card-text-fixed {
    height: 80px;
    overflow: hidden;

}

span.card_old-img {
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #e0e0e0;
    border-radius: 10px;
    width: 100%;
    height: 50px;
    background: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,1));
}
.card-img-left  {
    display: flex;
    /*justify-content: flex-end;*/
    align-items: flex-end;
}

.product-card__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modal-window {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(50, 50, 50, 0.5);
    transition: 250ms;
}

.modal-body {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
    width: 400px;
    height: 200px;
    background: #fff;
    border-radius: 20px;
    padding: 20px;

}

.modal-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;


}

.modal-body__title {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

}

.modal-body__hr {
    width: 300px;
    height: 1px;
    background: #272727;
}

.modal-body__text {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.modal-close {
    position: absolute;
    top: 0;
    right: 0;
    width: 25px;
    height: 25px;
    margin: 20px;
}
.modal-close i{
    font-size: 25px;
    color: #272727;
    cursor: pointer;
}


.window__footer {
    width: 100vh;
    height: 500px;
    background: #272727;
    color: #CD75F6;
}

.footer-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
