
.window-title {
    margin: 0 auto;
    text-align: center;
    margin-bottom: 30px;
    font-size: 24px;
}

.menu {
  padding: 10px 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.menu-left {
    display: flex;
    align-items: center;
}

.logo {
    color: #272727;
    margin-right: 20px;
}
.logo a {
    text-decoration: none;
}
.menu-right  {
  font-size: 16px;
}

.menu-right btn-dark {
  color: #fff;
}
.menu-right a {
    margin-left: 40px;
    transition: 200ms;
    font-weight: bold;
}


.menu-right a:hover {
    color: #a7a7a7;
}

.menu-right-list {

    font-size: 16px;
    margin-left: 40px;
    transition: 200ms;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    position: fixed;
    right: 0;
    top: 0;
    padding: 40px;
    align-items: flex-start;
    height: 100vh;
    background: #fff;
    z-index: 20;
    box-shadow: 0 2px 30px rgba(0,0,0,0.2);
}

.menu-right-list > * {
    margin:0 0 20px 0;
}


.logo {
    box-sizing: content-box;
    width: auto;
    height: auto;
    padding: 10px 25px;
    border: 1px #272727 solid;
    font-family: 'Rubik Mono One';
    font-size: 22px;
    border-radius: 10px;
}

.logo-city {
    color: #CD75F6;
    font-size: 9px;
}

.form-search {
    display: flex;
    /*justify-content: center;*/
    align-items: center;
    margin-right: -40px;
}

.fa-search {
    margin-left: -40px;
    cursor: pointer;
}

.search-input {
    padding-right: 40px;
}
.search-input-left {
    border: 1px solid #272727;
    width: 250px;
}


.search-input-right {
    border: 1px solid #272727;
    width: 150px;
}

.section {
    width: 250px;
    height: 250px;
    /* background: rgba(0, 0, 0, 0.2); */
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    cursor: pointer;
    transition: 250ms;
}

.section:hover {
    transform: scale(1.15);
}

.section-image {
    background-position: center;
    background-repeat: no-repeat;
    width: 220px;
    height: 150px;
}
.section-title {
    width: 220px;
    height: 100px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card {
    /*width: 250px;*/
    margin-bottom: 50px;
}
.card-img-top  {
    background-size: cover;
    border-radius: 2px;
    display: flex;
    align-items: flex-end
}
.card-img-top  .id-product{
    background: linear-gradient(to top, rgba(30,30,30,0.8), rgba(34,34,34,0));
    height: 50px;
    color: #fff;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center
}
.card-text-fixed {
    height: 80px;
    overflow-wrap: break-spaces;
    overflow: hidden;
}


span.card_old-img {
    position: absolute;
    bottom: 0;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #f4f4f4;
    border-radius: 0 0 10px 10px;
    width: 100%;
    height: 50px;
    background: rgba(39, 39, 39, 0.5);
}

.file-preview-image {
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    font-size: 16px;
    text-align: center;
    color: #495057;
    cursor: pointer;
    transition: 500ms;
    margin-bottom: 10px;
    height: 350px;
    border-radius: 10px;
    border: 1px  solid #ced4da; padding: 0
}
.file-preview-image .fa-cloud-upload{
    top: 50%;
}

.file-preview-image-reupload {
    position: absolute;
    transition: 300ms;
    border-radius: 10px;
    height: 350px;
    width: 100%;
    z-index: 5;
}


#preview-uploaded-image {
    background-size: contain;
    font-size: 16px;
    border-top: 1px solid #ced4da;
    border-bottom: 1px solid #ced4da;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #495057;
    cursor: pointer;
    size: ledger;
}

.card-img-left  {
    display: flex;
    /*justify-content: flex-end;*/
    align-items: flex-end;
}

.product-card__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.card-body__phone {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#uploaded-image {
    background-size: contain;
    font-size: 16px;
    height: 150px;
    border-top: 1px solid #ced4da;
    border-bottom: 1px solid #ced4da;
    border-radius: .25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #495057;
    cursor: pointer;
    size: ledger;
}
.uploaded-image {
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    font-size: 16px;
    height: 150px;
    border-radius: .25rem;
    text-align: center;
    color: #495057;
    cursor: pointer;
    transition: 500ms;
    margin-bottom: 10px;
}
.reupload-image {
    position: absolute;
    transition: 300ms;
    border-radius: .25rem;
    height: 150px;
    width: 90%;
    border: 1px solid #ced4da;
    z-index: 5;
    box-sizing: border-box;
}

.fa-cloud-upload {
    transition: 300ms;
    font-size: 30px;
    position: absolute;
    color: #adadad;
    z-index: 10;
}
.file-is-uploaded {
    opacity: 0;
}

.file-is-reupload {
    opacity: 1;
}

.success-upload {
    color: #CD75F6;
}
