body {
  margin: 0;
  color: #272727;
  font-family: "Nunito";
  font-size: 18px;
}

div, input {
  box-sizing: border-box;
}

input {
  font-family: "Nunito";
  font-size: 14px;
}

a {
  text-decoration: none;
}
:root {
    --input-padding-x: .75rem;
    --input-padding-y: .75rem;
}


.form-signin {
    font-size: 16px;
    width: 100%;
    max-width: 420px;
    padding: 15px;
    margin: 0 auto;
}

.form-label-group {
    position: relative;
    margin-bottom: 1rem;
}

.form-label-group .form-control {
    height: 50px;
}

.form-label-group > input,
.form-label-group > label {
    padding: var(--input-padding-y) var(--input-padding-x);
}

.form-label-group > label {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    margin-bottom: 0; /* Override default `<label>` margin */
    line-height: 1.5;
    color: #495057;
    border: 1px solid transparent;
    border-radius: .25rem;
    transition: all .1s ease-in-out;
}

.form-label-group input::-webkit-input-placeholder {
    color: transparent;
}

.form-label-group input:-ms-input-placeholder {
    color: transparent;
}

.form-label-group input::-ms-input-placeholder {
    color: transparent;
}

.form-label-group input::-moz-placeholder {
    color: transparent;
}

.form-label-group input::placeholder {
    color: transparent;
}

.form-label-group input:not(:placeholder-shown) {
    padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));
    padding-bottom: calc(var(--input-padding-y) / 3);
}

.form-label-group input:not(:placeholder-shown) ~ label {
    padding-top: calc(var(--input-padding-y) / 3);
    padding-bottom: calc(var(--input-padding-y) / 3);
    font-size: 12px;
    color: #777;
}


.content {
  width: 1420px;
  margin: 0 auto;
  /* background: rgba(0, 0, 0, 0.1); */
}

.window {
    width: 1220px;
    box-sizing: content-box;
    padding: 30px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
}

.window__title {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
    font-size: 20px;
  /* background: linear-gradient(90deg, #fff, #dfdfdf) */
}

.home__title {

    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
    font-size: 20px;

}



.window__title p {
    font-size: 18px;
    z-index: 3;
}
.window__title h3 {
    z-index: 3;
}
.window__title_dark {
    background: #272727;
    color: #fcfcfc;
}

.window__title__background {
    width: 100%;
    height: 100%;
    background: url("/storage/!/thumbs/banners/banner.svg") center;
    position: absolute;
    background-size: 1640px;
    opacity: 0.7;
    z-index: 2;
}

.window__title__background_dark {
    width: 100%;
    height: 100%;
    background: url("/storage/!/thumbs/banners/banner_dark.svg") center;
    position: absolute;
    background-size: 1640px;
    color: #CD75F6;
    opacity: 1;
    z-index: 1;
}


.window__title_onsearch {
    height:200px;
    margin: 50px  0;
}



[class*=col-] {position: relative}
.row-conformity .to-bottom {position:absolute; bottom:0; left:0; right:0}
.row-centered {text-align:center}
.row-centered [class*=col-] {display:inline-block; float:none; text-align:left; margin-right:-4px; vertical-align:top}
