@media screen and (max-width: 1220px) {



    .window  {
        height: 200px;
        width: 100vw;
    }

    .section {
        width: 200px;
        height: 200px;
        flex-wrap: nowrap;
    }
    .section-image  {
        width: 180px;
        height: 120px;
    }
    .section-title {
        width: 200px;

    }
}

@media screen and (max-width:800px) {
    .menu {
        padding: 30px 40px;
    }

    .window  {
        height: 200px;
        width: 100vw;
    }
    .window__title__background {
        width: 100vw;
        background-size: 1200px;
    }
    .window__title__background_dark {
        width: 100vw;
        background-size: 1200px;
    }

    .window h3 {
        font-size: 18px;
    }

    .card .card-title, .card-subtitle{
        font-size: 18px;
    }
    .card-text-fixed {
        height: 50px;
    }
    .card-text {
        font-size: 16px;
    }
}

@media screen and (max-width:479px) {
    .menu {
        padding: 50px 20px;
    }
    .window  {
        height: 100px;
    }
    .window h3 {
        font-size: 14px;
    }

    .window__title__background {
        background-size: 900px;
    }
    .window__title__background_dark {
        background-size: 900px;
    }
}
